<!-- app/views/products/search.html.erb -->
<h1>Search Results</h1>

<%= form_with url: search_products_path, method: :get, local: true do %>
  <%= label_tag :query, "Search for products" %>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag "Search" %>
<% end %>

<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.name, product_path(product) %>
      <p><%= product.description %></p>
      <p>Price: <%= product.price %></p>
    </li>
  <% end %>
</ul>
