<h1><%= @product.name %></h1>

<%= link_to 'Home', root_path %>

<div>
  <h2>Description</h2>
  <p><%= @product.description %></p>

  <h2>Price</h2>
  <p><%= @product.price %></p>

  <h2>Stock</h2>
  <p><%= @product.stock %></p>

  <h2>Category</h2>
  <p><%= @product.category.name %></p>

<%= form_with url: add_product_cart_path(@product.id), method: :post, local: true do |form| %>
  <%= form.hidden_field :product_id, value: @product.id %>
  <%= form.label :quantity, "quantity" %>
  <%= form.number_field :quantity, value: 1, min: 1, max: 5 %>
  <%= form.submit 'Add to the  Cart' %>
<% end %>

  <h2>Image</h2>
  <%= image_tag url_for(@product.image), size: "300x300" if @product.image.attached? %>
</div>
